DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=300000000000000
OTP_RESEND_COOLDOWN_SECONDS=05
OTP_PROVIDER=apps.common.otp_providers.InternalConsoleOTPProvider
ALLOWED_HOSTS=localhost,127.0.0.1
